html {
    background: whitesmoke;
    padding: 0;
    margin: 0;
}
body {
    margin: 20px;
    
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Arial, Helvetica, sans-serif;
}

.avatar {
    width: 200px;
    height: 200px;

}
.cardbg{
    background: whitesmoke;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    /* text-align: center; */
    align-items: center;
    background: #FFFFFF;
    color: #01200F;
   
    border-top: 2px solid #815C56;
    border-bottom: 2px solid #815C56;
    border-radius: 50px;
    
    
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

h3 {
    margin-bottom: 0;
    padding-bottom: 0;
    
}

h4{
    font-weight: normal;
    font-size: 8px;
    margin-top: 0;
    padding-top: 2px;
    color: #F88C8C;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.border-blue {
    border: 1px dotted blue;
}

p{
    margin-bottom: 0;
    padding-bottom: 0;
}
#decor {
    margin-top: 0;
    padding-top: 0;
    border: 2px solid #714E49;
    width: 75%;
    
}
/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

